@import url('base/_variables.css');
@import url('base/_reset.css');
@import url('base/_base.css');

@import url('layout/_layout.css');

@import url('components/_header.css');
@import url('components/_navigation.css');
@import url('components/_cards.css');
@import url('components/_buttons.css');
@import url('components/_timeline.css');

@import url('sections/_about.css');
@import url('sections/_research.css');
@import url('sections/_expertise.css');
@import url('sections/_contact.css');

@import url('utils/_animations.css');
@import url('utils/_scroll.css');
@import url('utils/_utilities.css');

@import url('layout/_responsive.css');